[submodule "inaSpeechSegmenter"]
	path = inaSpeechSegmenter
	url = git@github.com:Harsh188/inaSpeechSegmenter.git
[submodule "sklearn-ann"]
	path = sklearn-ann
	url = git@github.com:Harsh188/sklearn-ann.git